accelerate>=1.10.1
numpy==2.2.6
torch>=2.8.0
safetensors>=0.6.2
transformers>=4.57.1
threadpoolctl>=3.6.0
packaging>=24.2
device-smi>=0.5.1
protobuf>=6.32.0
pillow>=11.3.0
pypcre>=0.2.3
hf_transfer>=0.1.9
huggingface_hub>=0.34.4
random_word>=1.0.13
tokenicer>=0.0.5
logbar>=0.1.7
maturin>=1.9.4
datasets>=3.6.0
pyarrow>=21.0
dill>=0.3.8
pypcre>=0.2.4
torchao>=0.14.1
