name: Ruff Check

on:
  push:

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        python-version: [3.11]
        os: [ubuntu-22.04]
    runs-on: ${{ matrix.os }}
  
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-python@v5 
      with:
        python-version: ${{ matrix.python-version }}
        cache: 'pip'

    - name: Ruff Check
      run: |
        cd format
        ./format.sh
