name: Release

run-name: "${{ github.event.inputs.title }}"

defaults:
  run:
    shell: bash -le {0}
on:
  release:
    types: [ published ]
  repository_dispatch:
  workflow_dispatch:
    inputs:
      title:
        description: 'set a title for this run'
        required: false
        default: ''
      repo:
        description: 'GitHub repo {owner}/{repo}'
        required: false
        default: ''
      ref:
        description: 'GitHub ref: Branch, Tag or Commit SHA'
        required: false
        default: ''
      pr_number:
        description: 'PR Number'
        required: false
        type: number
      max-parallel:
        description: 'max parallel jobs'
        required: false
        default: '10'
      upload_release:
        description: 'upload to release (it only works with a tag ref)'
        type: boolean
        required: false
        default: false
      upload_pypi:
        description: 'upload to PyPI'
        type: boolean
        required: false
        default: false
      github_vm:
        description: 'release source on github vm'
        type: boolean
        required: false
        default: false
# for github limits, test only
#      cuda-version:
#        description: 'cuda version(128)'
#        required: false
#        default: ''
#      torch-version:
#        description: 'torch version(2.8.0)'
#        required: false
#        default: ''
#      python-version:
#        description: 'python version(313)'
#        required: false
#        default: ''

env:
  CUDA_DEVICE_ORDER: PCI_BUS_ID
  RUNNER: 10.0.13.31
  TORCH_CUDA_ARCH_LIST: '8.0 8.6 8.9 9.0 12.0'
  CUDA_ARCH_LIST: '8.0 8.6 8.9 9.0 12.0'
  RELEASE_MODE: 1
  CI: 1
  GPTQMODEL_FORCE_BUILD: 1
  repo: ${{ github.event.inputs.repo || github.repository }}
  ref: ${{ github.event.inputs.ref || github.ref }}
  MAX_JOBS: 4
  GPTQMODEL_BUILD_QQQ: 0
  GPTQMODEL_BUILD_EORA: 0
  GPTQMODEL_BUILD_EXLLAMA_V1: 0

concurrency:
  group: ${{ github.event.inputs.ref || github.ref }}-workflow-release
  cancel-in-progress: true

jobs:
  check-vm:
    runs-on: [ self-hosted, Linux ]
    container:
      image: modelcloud/gptqmodel:alpine-ci-v1
    outputs:
      ip: ${{ steps.get_ip.outputs.ip }}
      task_list: ${{ steps.assign.outputs.task_list }}
      max-parallel: ${{ steps.get_ip.outputs.max-parallel }}
    if: ${{ inputs.github_vm == false }}
    steps:
      - name: Checkout Codes
        uses: actions/checkout@v6
        with:
          repository: ${{ env.repo }}
          ref: ${{ env.ref }}

      - name: Print env
        run: |
          echo "event name: ${{ github.event_name }}"
          echo "repo: ${{ env.repo }}"
          echo "ref: ${{ env.ref }}"
          echo "max-parallel: ${{ inputs.max-parallel }}"
          echo "upload_release: ${{ inputs.upload_release }}"
          echo "upload_pypi: ${{ inputs.upload_pypi }}"
      - name: Select server
        id: get_ip
        run: |
          echo "ip=${RUNNER}" >> "$GITHUB_OUTPUT"
          echo "GPU_IP=${RUNNER}" >> $GITHUB_ENV
          echo "ip: $ip"
          max_p=${{ github.event.inputs.max-parallel }}
          max_p="{\"size\": ${max_p:-10}}"
          echo "max-parallel=$max_p" >> "$GITHUB_OUTPUT"
          echo "max-parallel=$max_p"
  release:
    strategy:
      fail-fast: false
      max-parallel: ${{ fromJson(needs.check-vm.outputs.max-parallel).size || 10 }}
      matrix:
        include:
          # pytorch 2.9
          # cuda 13
          - cuda: 130
            torch: 2.9.0
            python: 314
          - cuda: 130
            torch: 2.9.0
            python: 314t
          - cuda: 130
            torch: 2.9.0
            python: 313t
          - cuda: 130
            torch: 2.9.0
            python: 313
          - cuda: 130
            torch: 2.9.0
            python: 312
          - cuda: 130
            torch: 2.9.0
            python: 311
          - cuda: 130
            torch: 2.9.0
            python: 310
          # cuda 128
          - cuda: 128
            torch: 2.9.0
            python: 314t
          - cuda: 128
            torch: 2.9.0
            python: 314
          - cuda: 128
            torch: 2.9.0
            python: 313t
          - cuda: 128
            torch: 2.9.0
            python: 313
          - cuda: 128
            torch: 2.9.0
            python: 312
          - cuda: 128
            torch: 2.9.0
            python: 311
          - cuda: 128
            torch: 2.9.0
            python: 310
          # cuda 126
          - cuda: 126
            torch: 2.9.0
            python: 314t
          - cuda: 126
            torch: 2.9.0
            python: 314
          - cuda: 126
            torch: 2.9.0
            python: 313t
          - cuda: 126
            torch: 2.9.0
            python: 313
          - cuda: 126
            torch: 2.9.0
            python: 312
          - cuda: 126
            torch: 2.9.0
            python: 311
          - cuda: 126
            torch: 2.9.0
            python: 310
          # not support yet, maybe later
          # pytorch 2.8
          # cuda 13
          # - cuda: 130
          #   torch: 2.8.0
          #   python: 314
          # - cuda: 130
          #   torch: 2.8.0
          #   python: 313t
          # - cuda: 130
          #   torch: 2.8.0
          #   python: 313
          # - cuda: 130
          #   torch: 2.8.0
          #   python: 312
          # - cuda: 130
          #   torch: 2.8.0
          #   python: 311
          # - cuda: 130
          #   torch: 2.8.0
          #   python: 310
          # cuda 128
          - cuda: 128
            torch: 2.8.0
            python: 313t
          - cuda: 128
            torch: 2.8.0
            python: 313
          - cuda: 128
            torch: 2.8.0
            python: 312
          - cuda: 128
            torch: 2.8.0
            python: 311
          - cuda: 128
            torch: 2.8.0
            python: 310
          - cuda: 126
            torch: 2.8.0
            python: 313t
          - cuda: 126
            torch: 2.8.0
            python: 313
          - cuda: 126
            torch: 2.8.0
            python: 312
          - cuda: 126
            torch: 2.8.0
            python: 311
          - cuda: 126
            torch: 2.8.0
            python: 310


    runs-on: [ self-hosted, xeon5 ]
    needs:
      - check-vm
    container:
      image: 10.0.13.31:5000/nvidia/cuda:${{ matrix.cuda }}-ubuntu22.04_1021
      volumes:
        - /monster/ci/pyenv:/opt/pyenv
    steps:
      - name: Check matrix
        run: |
          # // for github limits, test only
          # // shouldRun=${{ (inputs['cuda-version'] == '' || matrix.cuda == inputs['cuda-version']) && (inputs['torch-version'] == '' || matrix.torch == inputs['torch-version']) && (inputs['python-version'] == ''|| matrix.python == inputs['python-version']) }}
          shouldRun=true
          if [ "$shouldRun" == "true" ]; then
            echo "SHOULD_RUN=1" >> $GITHUB_ENV
          else
            echo "SHOULD_RUN=0" >> $GITHUB_ENV
          fi

      - name: Checkout Codes
        if: env.SHOULD_RUN == 1
        uses: actions/checkout@v6
        with:
          repository: ${{ env.repo }}
          ref: ${{ env.ref }}

      - name: Fetch PR by number
        if: ${{ github.event.inputs.pr_number != 0 && env.SHOULD_RUN == 1 }}
        run: |
          PR_NUMBER=${{ github.event.inputs.pr_number }}
          echo "pr number $PR_NUMBER"
          git config --global --add safe.directory $(pwd)
          git fetch origin pull/${PR_NUMBER}/head:pr-${PR_NUMBER}
          git checkout pr-${PR_NUMBER}

      - name: Print Env
        if: env.SHOULD_RUN == 1
        run: |
          if [[ "${{ matrix.cuda }}" -lt 128 ]]; then # CUDA >= 12.8 supports 12.0 (5090)
            echo "CUDA_ARCH_LIST=8.0 8.6 8.9 9.0" >> $GITHUB_ENV
            echo "TORCH_CUDA_ARCH_LIST=8.0 8.6 8.9 9.0" >> $GITHUB_ENV
          fi
          python_version=${{ matrix.python }}
          if [[ "$python_version" != *"."* ]]; then
            python_version="${python_version/3/3.}"
          fi
          env_name="cu${{ matrix.cuda }}_torch${{ matrix.torch }}_py${python_version}_release"
          if [ -d "$(pyenv root)/versions/$env_name" ]; then
            echo "env: ${env_name} exists, skip"
            pyenv local $env_name
            pyenv activate $env_name
          else
            echo "creating venv: ${env_name}..."
            pyenv virtualenv "$python_version" "$env_name" || true
            pyenv local $env_name
            pyenv activate $env_name
            bash -c "$(curl -L http://${RUNNER}/scripts/env/init_compiler.sh)" @ ${{ matrix.cuda }} ${{ matrix.torch }} $python_version
          fi

          echo "::group::pyenv versions"
          pyenv versions
          echo "::endgroup::"
          
          echo "== python =="
          python --version

          echo "== nvcc =="
          nvcc --version

          echo "== torch =="
          pip show torch

          echo "::group::pip list"
          pip list
          echo "::endgroup::"

      - name: Compile
        if: env.SHOULD_RUN == 1
        run: python -m build --no-isolation

      - name: Test install
        if: env.SHOULD_RUN == 1
        run: |
          ls -ahl dist
          whl=$(ls -t dist/*.whl | head -n 1 | xargs basename)
          echo "WHL_NAME=$whl" >> $GITHUB_ENV

          [ $(stat -c%s "dist/$whl") -lt 104857600 ] && echo "wheel size < 100M" && exit 1 || echo "$whl size check passed."

          if [ "${{ matrix.python }}" != "313t" ]; then # twine doesn't support python 3.13 yet
            pip install twine
            twine check dist/$whl
          fi

      - name: Upload wheel
        if: env.SHOULD_RUN == 1
        continue-on-error: true
        run: |
          sha256=$(sha256sum dist/${{ env.WHL_NAME }})
          
          DIR=/opt/dist/${{ needs.check-vm.outputs.run_id }}
          [ -d $DIR ] || mkdir -p $DIR
          cp dist/${{ env.WHL_NAME }} $DIR/
          echo "UPLOADED=1" >> $GITHUB_ENV

      - name: Upload artifact
        if: env.SHOULD_RUN == 1
        uses: actions/upload-artifact@v5
        continue-on-error: ${{ env.UPLOADED == '1' }}
        with:
          overwrite: true
          name: ${{ env.WHL_NAME }}
          path: dist/${{ env.WHL_NAME }}

      - name: Upload binaries to release
        uses: svenstaro/upload-release-action@v2
        if: env.SHOULD_RUN == 1 && (github.event_name == 'release' || github.event.inputs.upload_release == 'true') && !cancelled()
        with:
          repo_name: ${{ env.repo }}
          tag: ${{ env.ref }}
          file: dist/${{ env.WHL_NAME }}
          file_glob: true
          overwrite: true

  release-source:
    permissions:
      contents: write
    runs-on: [ self-hosted, xeon5 ]
    needs:
      - check-vm
    container:
      image: ${{ needs.check-vm.outputs.ip }}:5000/nvidia/cuda:128-ubuntu22.04_1021
      volumes:
        - /monster/ci/pyenv:/opt/pyenv
    env:
      RELEASE_MODE: 0
    steps:
      - name: Checkout Codes
        uses: actions/checkout@v6
        with:
          repository: ${{ env.repo }}
          ref: ${{ env.ref }}

      - name: Print Env
        run: |
          env_name="py313_release_source"
          if [ -d "$(pyenv root)/versions/$env_name" ]; then
            echo "env: ${env_name} exists, skip"
            pyenv local $env_name
            pyenv activate $env_name
          else
            echo "creating venv: ${env_name}..."
            pyenv virtualenv 3.13 "$env_name" || true
            pyenv local $env_name
            pyenv activate $env_name
            bash -c "$(curl -L http://${RUNNER}/scripts/env/init_compiler.sh)" @ 128 2.8.0 313
          fi

      - name: Fetch PR by number
        if: ${{ github.event.inputs.pr_number != 0 }}
        run: |
          PR_NUMBER=${{ github.event.inputs.pr_number }}
          echo "pr number $PR_NUMBER"
          git config --global --add safe.directory $(pwd)
          git fetch origin pull/${PR_NUMBER}/head:pr-${PR_NUMBER}
          git checkout pr-${PR_NUMBER}

      - name: Compile
        run: |
          python -m build --no-isolation --sdist

      - name: Check dist
        run: |
          ls -ahl dist
          whl=$(ls -t dist/*.gz | head -n 1 | xargs basename)
          echo "WHL_NAME=$whl" >> $GITHUB_ENV
          twine check dist/$whl

      - name: Upload to local
        continue-on-error: true
        run: |
          sha256=$(sha256sum dist/${{ env.WHL_NAME }})
          DIR=/opt/dist/${{ needs.check-vm.outputs.run_id }}
          [ -d $DIR ] || mkdir -p $DIR
          cp dist/${{ env.WHL_NAME }} $DIR/
          echo "UPLOADED=1" >> $GITHUB_ENV

      - name: Upload to artifact
        uses: actions/upload-artifact@v5
        continue-on-error: ${{ env.UPLOADED == '1' }}
        with:
          name: ${{ env.WHL_NAME }}
          path: dist/${{ env.WHL_NAME }}

      - name: Upload package to release
        uses: svenstaro/upload-release-action@v2
        if: (github.event_name == 'release' || github.event.inputs.upload_release == 'true') && !cancelled()
        with:
          file: dist/${{ env.WHL_NAME }}
          tag: ${{ env.ref }}
          file_glob: true
          overwrite: true

      - name: Waiting for confirmation
        if: (github.event_name == 'release' || github.event.inputs.upload_pypi == 'true') && !cancelled()
        run: |
          timestamp=$(date +%s%3N)
          echo "open http://${RUNNER}/gpu/ci/confirm?id=${{ github.run_id }}&timestamp=$timestamp&confirmed=1 to confirm releasing to pypi"
          for i in {1..5}; do echo "."; done
          echo "click http://${RUNNER}/gpu/ci/confirm?id=${{ github.run_id }}&timestamp=$timestamp&denied=1 to DENY"
          status=-1
          while [ "$status" -lt 0 ]; do
            status=$(curl -s "http://${RUNNER}/gpu/ci/confirm?id=${{ github.run_id }}&timestamp=$timestamp")
            if [ "$status" == "2" ]; then
                echo "PYPI_RELEASE_CONFIRMATION=$status" >> $GITHUB_ENV
            elif [ "$status" -lt 0 ]; then
              sleep 5
            else
              echo "release has been confirmed"
              echo "PYPI_RELEASE_CONFIRMATION=$status" >> $GITHUB_ENV
            fi
          done

      - name: Upload sdist to pypi
        if: (github.event_name == 'release' || github.event.inputs.upload_pypi == 'true') && env.PYPI_RELEASE_CONFIRMATION == '1' && !cancelled()
        env:
          TWINE_USERNAME: "__token__"
          TWINE_PASSWORD: ${{ secrets.PYPI_KEY }}
        run: |
          python -m twine upload dist/*gz

  release-source-github:
    runs-on: ubuntu-24.04
    env:
      RELEASE_MODE: 0
      BUILD_CUDA_EXT: '0'
    if: ${{ inputs.github_vm == true }}
    steps:
      - name: Checkout Codes
        uses: actions/checkout@v6
        with:
          repository: ${{ env.repo }}
          ref: ${{ env.ref }}

      - name: Fetch PR by number
        if: ${{ github.event.inputs.pr_number != 0 }}
        run: |
          PR_NUMBER=${{ github.event.inputs.pr_number }}
          echo "pr number $PR_NUMBER"
          git config --global --add safe.directory $(pwd)
          git fetch origin pull/${PR_NUMBER}/head:pr-${PR_NUMBER}
          git checkout pr-${PR_NUMBER}

      - uses: actions/setup-python@v6
        with:
          python-version: 3.13
          cache: 'pip'

      - name: Install requirements
        run: |
          pip install build setuptools uv -U
          uv pip install torch twine ninja --system

      - name: Compile
        run: |
          python -m build --no-isolation --sdist


      - name: Check dist
        run: |
          ls -ahl dist
          whl=$(ls -t dist/*.gz | head -n 1 | xargs basename)
          echo "WHL_NAME=$whl" >> $GITHUB_ENV
          twine check dist/$whl

      - name: Upload to artifact
        uses: actions/upload-artifact@v5
        with:
          name: ${{ env.WHL_NAME }}
          path: dist/${{ env.WHL_NAME }}

      - name: Upload package to release
        uses: svenstaro/upload-release-action@v2
        if: (github.event_name == 'release' || github.event.inputs.upload_release == 'true') && !cancelled()
        with:
          file: dist/${{ env.WHL_NAME }}
          tag: ${{ env.ref }}
          file_glob: true
          overwrite: true

      - name: Waiting for confirmation
        if: (github.event_name == 'release' || github.event.inputs.upload_pypi == 'true') && !cancelled()
        run: |
          for i in {1..5}; do sleep 5; done

      - name: Upload sdist to pypi
        if: (github.event_name == 'release' || github.event.inputs.upload_pypi == 'true') && !cancelled()
        env:
          TWINE_USERNAME: "__token__"
          TWINE_PASSWORD: ${{ secrets.PYPI_KEY }}
        run: |
          python -m twine upload dist/*gz
