name: check_code_quality

on:
  push:
    branches: [ main ]
    paths:
      - "auto_gptq_next/**.py"
      - "tests/**.py"
      - "examples/**.py"
      - "setup.py"

  pull_request:
    branches: [ main ]
    paths:
      - "auto_gptq_next/**.py"
      - "tests/**.py"
      - "examples/**.py"
      - "setup.py"

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        python-version: [3.11]
        os: [ubuntu-22.04]
    runs-on: ${{ matrix.os }}
  
    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-python@v3
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install
        run: |
          pip install -vvv .[quality]
      
      - name: Check style with ruff
        run: |
          ruff auto_gptq_next examples tests setup.py
